@import '../../../Variabels/Variabels.scss';

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: absolute;

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .active {
      opacity: 1;
      transition-duration: 1s;
      height: 100%;
      width: 100%;
      transform: scale(1.08);
    }
  }
}
